ion-content{
 background:  linear-gradient(to right, #2193b0, #6dd5ed);
}
ion-card-title{
  color: #ffffff;
  font-family:sans-serif
}
p{
color: #000000;
}
ion-card{
  background:linear-gradient(to right, #2193b0, #6dd5ed);
}
ion-label{
  color:#ffffff
}