ion-content{
 background:  linear-gradient(to right, #2193b0, #6dd5ed)
}
img{
  width: auto;
  margin: auto;
  display: block;
}
ion-card-title{
  color: #000000;
  font-family:sans-serif
}
p{
color: #000000;
}
ion-card{
  background:linear-gradient(to right, #2193b0, #6dd5ed)
}
a{
  color:#000000;
}